SCROLLING_LIFE_WEB_PORT=127.0.0.1:8080
SCROLLING_LIFE_WEB_CONTEXT=.
GRAPH_BACKEND_CONTEXT=./graph-backend
TRAFFIC_TRACKER_CONTEXT=./traffic-tracker
TRAFFIC_DASHBOARD_CONTEXT=./traffic-dashboard
SERVER_METRICS_CONTEXT=./server-metrics
ESCRITURA_COLECTIVA_CONTEXT=./escritura-colectiva

SCROLLINGLIFE_NETWORK_NAME=scrollinglife_net
SCROLLINGLIFE_NETWORK_EXTERNAL=false

ESCRITURA_COLECTIVA_VOLUME_NAME=escritura_colectiva_data
ESCRITURA_COLECTIVA_VOLUME_EXTERNAL=false
SERVER_METRICS_VOLUME_NAME=scrollinglife_server_metrics_data
SERVER_METRICS_VOLUME_EXTERNAL=false
GRAPH_3D_VOLUME_NAME=scrollinglife_graph_3d_data
GRAPH_3D_VOLUME_EXTERNAL=false

GRAPH_ENV_FILE=./graph-backend/.env
TRAFFIC_TRACKER_ENV_FILE=./traffic-tracker/.env
TRAFFIC_DASHBOARD_ENV_FILE=./traffic-dashboard/.env
SERVER_METRICS_ENV_FILE=./server-metrics/.env
