API_BASE_URL=http://traffic_tracker:8090
API_ADMIN_TOKEN=colocar-token-del-tracker-en-el-servidor
SERVER_METRICS_URL=http://server_metrics:8091
SERVER_METRICS_TOKEN=colocar-token-del-api-de-servidor-en-el-servidor
REQUEST_TIMEOUT_SECONDS=12
